*{box-sizing: border-box;}
body{
    background-color: hsl(0, 100% , 50%);
}
.caja{width: 200px;
    height: 100px;
    background-color: rgb(25, 78, 64);
    position: relative;    
    top:200px;
    letter-spacing: 3em;
    z-index: 1;

}

.caja2{background-color:green;}
.caja2{
    z-index: 3;
    width: 200px;
    height: 200px;
       }
